/* heading bar */
.jumbotron {
    background-image: linear-gradient(270deg,#40E0D0, transparent);
}

/* search section */
ul {
    padding-left: 0;
    list-style-type: none;
}

form .col {
    max-width: none;
}

.citylist {
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
}

.btn {
    position: static;
}

.search-history-list {
    border-top: 0px solid #d2d2d2;
}

.search-history-list li {
    background-color: #d2d2d2;
    color: #7a7a7a;
    margin: 5px 0;
    text-align: center;
    border-radius: 4px;
}

/* weather section */
.displayweather {
    display: none
}

.current-weather-container {
    border: 1px solid #d2d2d2;
}

.days-forecase-list li {
    background-image: linear-gradient(135deg, hotpink, transparent);;
}
